target
.DS_Store
.env
neo4j_volumes
tls-gen/
gitlab_config
gitlab_logs
gitlab_data
env_setup.sh
var/
output/
src/agents/*/result
result*
report.json
bin
certs
.vscode/settings.json
open-vsx.nix.txt
vscode-marketplace-nix.txt
open-vsx-nix.txt