stages:
  - environment-setup
  - build
  - analysis
  - render

default:
  tags:
    - kubernetes

build-dev-environment:
  image: registry.sandbox.labz.s-box.org/sei/polar-mirror/nix:2.24.13
  stage: environment-setup
  rules:
    - changes:
        - flake.nix
        - flake.lock
        - src/flake/*
        - .gitlab-ci.yml
  script:
    #install needed tools
    - nix-env --install --attr nixpkgs.skopeo
    - |
      mkdir -p "$HOME/.config/nix"
      printf "experimental-features = nix-command flakes" > "$HOME/.config/nix/nix.conf"
      mkdir -p "/etc/containers"
      echo '{"default":[{"type":"insecureAcceptAnything"}]}' > /etc/containers/policy.json
      git config --global --add safe.directory "$(pwd)"
    # build dev and testing environments
    - nix build .#containers.devContainer --quiet -o polar-dev

    #  Use skopeo to inspect and upload our images
    - skopeo login --username "$CI_REGISTRY_USER" --password "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
    - skopeo inspect docker-archive://$(readlink -f ./polar-dev)
    - skopeo copy docker-archive://$(readlink -f ./polar-dev) docker://$CI_REGISTRY_IMAGE/polar-dev:0.1.0

build:
  image:
    name: registry.sandbox.labz.s-box.org/sei/polar-mirror/polar-dev:0.1.0
  stage: build
  variables:
    AZURE_REGISTRY: sandboxaksacr.azurecr.us/polar
  script:
    # init env
    - start.sh
      # git won't let nix operate if it doesn't think its safe.
      # TODO: We could elimiante this when we fully own the test runner's configuration.
    - git config --global --add safe.directory "$(pwd)"
    # TODO: remove this and add cargo-cyclonedx to the static-tools derviation
    - cargo install -q cargo-cyclonedx

    - chmod +x -R scripts
    - sh scripts/gitlab-ci.sh
  artifacts:
    when: always
    paths:
      - output/*
      - "*.sbom.json"
      - vulnix-report.json
      - manifests/*
    expire_in: "1 week"
