target
.DS_Store
.env
neo4j_volumes
tls-gen/
gitlab_config
gitlab_logs
gitlab_data
env_setup.sh
var/
output/
src/agents/*/result
result*
report.json
bin
certs
.vscode/settings.json
open-vsx.nix.txt
vscode-marketplace-nix.txt
open-vsx-nix.txt
observer.env
consumer.env
manifests
chart/
.direnv/
authorized_keys
*-output.json
env.fish
src/agents/cassini/test/producer/config.dhall

# ephemeral bullshit - do not check this in
my.env
env.nu
ci.env
