target
.DS_Store
.env
neo4j_volumes
tls-gen/
gitlab_config
gitlab_logs
gitlab_data
env_setup.sh
var/
output/
src/agents/*/result
result*
report.json
config.json
certs
.vscode/settings.json
open-vsx.nix.txt
vscode-marketplace-nix.txt
open-vsx-nix.txt

manifests
chart/
.direnv/
authorized_keys
*-output.json
env.fish
src/agents/cassini/test/producer/config.dhall
git.json
# ephemeral bullshit - do not check this in
my.env
.env.nuon
.env.ci.nuon
ci.env
docker.json
.polar/
ca_certificates/
pipeline-out/
ai_models/
pi/
src/deploy/local/values-active.dhall
.sops.yaml
.user.sops.yaml
user.sops.yaml
# ignore rendered cotnainer nix files
*.container.nix
