[package]
name = "gitlab-queries"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
cynic = { workspace = true, features = ["rkyv"] }
gitlab-schema.workspace = true
rkyv.workspace = true

[build-dependencies]
cynic-codegen = { version = "3.12.0", features = ["rkyv"] }
