[package]
name = "kube-consumer"
version.workspace = true
edition.workspace = true
license = "MIT"

[dependencies]
# NOTE cassini and the other services use the aws-lc-rs crypto provider for their work. So we will too!
# kube = {version = "0.99.0", default-features = false , features = ["client", "aws-lc-rs", "rustls-tls" ,"runtime", "derive"]}
serde = { version = "1", features = ["derive"] }
serde_json = "1.0"
tokio = { version = "1.49.0", features = ["full"] }
k8s-openapi = { workspace = true, features = ["v1_32"] }
neo4rs = { workspace = true }
# futures = "0.3.30"
ractor = { version = "0.15.10", features = ["async-trait"] }
rkyv = { workspace = true }
cassini-client = { workspace = true }
cassini-types  = { workspace = true }
tracing = "0.1.44"
tracing-glog = "0.4.1"
tracing-subscriber = { version = "0.3.22", features = ["std", "env-filter"] }
polar = { path = "../../lib" }
kube-common = { path = "../common" }
uuid = { version = "1.21.0", features = ["v4"] }
# [dev-dependencies]
chrono = { workspace = true }
# k8s-openapi = {version="0.22.0",features = ["v1_28"]}
