[package]
name = "kube-common"
version.workspace = true
edition.workspace = true
license = "MIT"

[dependencies]
futures-lite = "2.6.1"
url = "2.5.8"
tracing = "0.1.44"
tcp-stream = { workspace = true }
sysinfo = { workspace = true }
serde = {version = "1", features = ["derive"]}
serde_json = "1.0"
ractor = { version="0.15.10", features = ["async-trait"]}
cassini-broker = { path = "../../cassini/broker" }
polar = {path = "../../lib" }
cynic = "3.12.0"
rkyv = { workspace = true }
kube = { workspace = true }
