[package]
name = "kube-common"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
cassini-broker.workspace = true
cynic.workspace = true
futures-lite.workspace = true
kube.workspace = true
polar.workspace = true
ractor.workspace = true
rkyv.workspace = true
serde_json.workspace = true
serde.workspace = true
sysinfo.workspace = true
tcp-stream.workspace = true
tracing.workspace = true
url.workspace = true
